@charset 'utf-8';
@namespace url(http://www.w3.org/1999/xhtml);
/*Counters*/img[alt="Rambler's Top100"],
img[alt='Рейтинг@Mail.ru'],
img[alt='Яндекс.Метрика'],
img[alt='bigmir)net TOP 100'],
div[id='counters'],
img[width='88'][height='31'],
img[width='1'][height='1'][border='0'],
a[href^='/click/'],
a[href^='http://ad.rambler.ru/'],
a[href^='http://top.mail.ru/jump?'],
a[href^='http://top.list.ru/jump?'],
a[href$='www.liveinternet.ru/click'],
img[alt='LiveInternet'],
img[alt='реклама'],
/*размеры баннеров*/embed[width='120'][height='600'],
embed[width='200'][height='300'],
embed[width='240'][height='400'],
embed[width='400'][height='80'],
embed[width='468'][height='60'],
embed[width='600'][height='160'],
embed[width='728'][height='90'],
embed[width='1000'][height='150'],
embed[width='1024'][height='105'],
object[width='125'][height='200'],
object[width='400'][height='90'],
object[width='468'][height='60'],
object[width='220'][height='404'],
object[width='240'][height='100'],
object[width='240'][height='200'],
object[width='242'][height='398'],
object[width='240'][height='400'],
object[width='240'][height='600'],
object[width='310'][height='620'],
object[width='480'][height='100'],
object[width='600'][height='90'],
object[width='600'][height='300'],
object[width='680'][height='90'],
object[width='680'][height='240'],
object[width='728'][height='120'],
object[width='720'][height='90'],
object[width='728'][height='90'],
object[width='160'][height='600'],
object[width='100%'][height='60'],
object[width='100%'][height='90'],
object[width='100%'][height='150'],
object[width='1024'][height='150'],
iframe[width='160'][height='600'],
iframe[width='200'][height='300'],
iframe[width='200'][height='400'],
iframe[width='240'][height='80'],
iframe[width='240'][height='300'],
iframe[width*='240'][height*='400'],
iframe[width='240'][height='401'],
iframe[width='240'][height='420'],
iframe[style*='width:240px;'],
iframe[width='468'][height='60'],
iframe[width='600'][height='90'],
iframe[width='600px'][height='90px'],
iframe[width='728'][height='90'],
iframe[width='728'][height='245'],
iframe[width='728px'][height='90px'],
iframe[width='760px'][height='60px'],
iframe[width='100%'][height='90px'],
iframe[width='960'][height='90'],
img[width='728'][height='90'],
img[width='468'][height='60'],
img[width='160'][height='600'],
img[width='120'][height='600'],
img[width='240'][height='400'],
img[width='240px'][height='400px'],
img[width='600'][height='90'],
img[width='1000'][height='150'],
div[style='width: 240px; height: 600px;'],
div[style='width:240px;height:560px;'],
div[style='width:240px;height:400px;'],
div[style='width:240px; height:400px;'],
div[style='width: 240px; height: 400px;'],
div[style='width: 240px; height: 200px;'],
div[style='width:240px;height:160px;'],
div[style='width:100%;height:90px;'],
div[style^='width:160px; height:600px;'],
div[style^='width: 728px; height: 90px;'],
div[style^='height: 90px; width: 728px;'],
div[style^='width: 176px; height: 90px;'],
td[width='240'][height='60'],
td[width='480'][height='60'],
/*общие правила*/div[id^='bn_'],
div[id^='banner'],
object[id^='banner'],
div.ban,
div.banner,
div.banner1,
div.left_banner,
div#topbanners,
div#top-banner-container,
div#headerbanner,
div#bottomBanners,
div#rightBanner240,
div.ban728x90,
div#sibAd_240x400,
div.b-240,
div[class^='baner'],
div[class^='banner_'],
div[id^='banner_'],
div[title^='banner'],
div[title$='banner'],
div[class$='banner'],
div[class$='banners'],
div[class*='-banner-'],
div[class^='banner-place-'],
div[id*='-banner-'],
section[class*='-banner-'],
object[id^='Banner'],
div[id*='_banner_'],
div.bannerss,
div.bnr,
div.banner-box,
div.tbinner10,
div#top_ban,
div.topBan,
div#top_banner,
div#footer_banner,
div#top_superbanner,
object[id$='Banner'],
img[alt*='баннер'],
img[src*='/banner/'],
td[class*='maBanner'],
td[class$='-banner'],
table.banner-space,
table#bottom-banners,
table#banner_jv,
aside.b-banner,
div.ad-div,
div.ad-rle,
div.ad,
div.ad_yad,
div#ad,
div#ad_box_inner,
div#sibAd_topline,
div[id*='-ad-'],
div[id^='ad-'],
div[class$='-ad'],
/*div.top-ad,div.partial-ad,*/
div[class$='ad_block'],
div.a_block,
div.blockBox>div.adBox+div.noticeBox,
#adv,
[id^='adv-'],
div#adv2,
div#adv3,
td[id^='advtda'],
[id$='_adv'],
div[class$='_adv'],
div[id$='_ad'],
table[class$='_ad'],
div[id$='ADV'],
div.adv,
div.advtBlock,
div[class^='right_adv'],
div.rightAdv,
div.widget_ad_unit,
div.b-ad_200,
div.b-adv,
div.b-top-adv,
div.rb-adv,
ul.spec-adv,
div.adv-bnr-common,
div.adv_left,
div.adv_right,
div.adv_top,
div#theAd,
div[id$='-ads'],
div.content-ads,
div[class^='ads'],
div.type_ads,
iframe#google_ads_frame1,
iframe[src*='_ads_'],
div[id*='_ads_'],
div[class*='_ads_'],
div.b-adsuniversal-wrap,
div.textads,
div#textadv,
section.ads,
div.ads,
table.ads,
ul.vads,
div[id^='mainads'],
iframe[id^='ads_'],
/*div[id^='advert'],*/
/*irr.ru не надо div id=advertCreate */
/*.advert,#advertisingLink,#Advertisement,*/
div[id$='advert'],
div[class^='advert-'],
section[id*='-advert-'],
div.advert,
div.advertBlock,
table.advert,
div.js-advert,
div.advertisement,
div.b-advertising,
div.advertising,
div.main-advertising,
div.advertbox,
div.advertis,
div#adzerk1,
table.advertTop,
table.advertTop1,
iframe#adv_kod_frame,
div.chitikaAdContainer,
div[id^='adzone'],
td[id^='adzone'],
div#tads,
div[id^='smi2adblock_'],
div[id^='sponsor'],
div[id*='-teasers-'],
div[id*='_teaser_'],
div[id^='teaser'],
div[id^='tieser'],
div[id*='Teaser'],
td.teaser,
div[class^='q_teaser'],
div#soomracktizer,
div.tizer,
div[id^='right_ban'],
div[id^='left_ban'],
div#brandtop,
div#file_branding_wrapper,
div.branding_top,
div.branding_left,
div.branding_right,
div.b-branding__top,
div.b-branding__bottom,
div.b-branding__left,
div.b-branding__right,
div.b-branding__flash-wrap,
div.pb_top_img,
div.pb_left_banner,
div.pb_right_banner,
div#brand_cx,
div[class^='ban468'],
div[id^='MarketGid'],
div.promoted-videos,
div[class*='reklam'],
div[class*='reclam'],
div[id*='reklam'],
div[id*='reclam'],
section.rekl,
/*Баннерные сети*/div[id^='radeant'],
div[id^='DIV_DA_'],
div[id^='DIV_NNN_'],
div[id^='DIV_RNN_'],
div[id^='LNNB_'],
div[id^='trafmag_'],
div[id^='b_tz_'],
div.SC_TBlock,
/*текстовая*/div#nlxcode,
div#JobInformer,
/*popup*/div#Popunder,
div.no-adb,
div.km_ref_adv_popup,
/*casino*/div.casino,
a[href^="https://www.joycasino.com/?partner="],
a[href^="https://joycasino.com/?partner="],
/*google*/div#mtads,
div#bottomads,
div.block-informer-news,
div#AdvertisingTopLine,
div[class^='pgBan'],
div#rhs_block,
div#tvcap>div.commercial-unit,
/*youtube*/div#premium-yva,
div#video-masthead,
/*rutracker.cr*/div.bn-idx,
div#bn-bot-wrap,
/*nnm-club.me*/div.adsbygoogle,
div#mb_top_space,
div#ewnjnlbs_div,
div#pewnjnlbs_div,
/*ixbt.com*/table.top_ad2,
div.clickable_zone,
div.clickable_zone_right,
div.clickable_zone_left,
section.grid > * iframe,
div.grid-chunk__adv-column,
div[style^="min-height: 320px;"],
div.mount>div>div,
div.content__columns > * iframe,
div.metrika-loader,
div.d-overhead,
div.branding
{display:none !important}
div.centerblock-wrapper
{width:auto !important;}
div.page-main__promotions
{max-width:100% !important;}
div.market-metrika,
div[data-zone-name="Banner"],
.sticky,
[role="main"] > * [style^="min-height: 320px;"]
{display:none !important}
.widgets.main > * div ~ div ~ div ~ div[class*=" "] > div[class*="_"]
{background-image: none !important;}
.widgets.main > * div ~ div ~ div ~ div[class*="__"] > div:not([class*=" "]):not([class*="_"]),
div.dist-popup,
div.popup__under,
div.yabrowser-promo,
div.media-service__header>a.media-promo,
div.feed__item._size_small>div:not(.doc),
div.popup2,
div.stripe_type_promo,
div.cl-teaser.incut_banner,
body>.content > * .content__main > * [style^="min-height: 370px;"],
body>.content > * iframe,
.content__bottom>.content__col>.content__row > :not(.content__elem),
.content__bottom>.content__col > * [style^="min-height: 320px;"],
.distr-popup,
i.b-statcounter,
div.layout__centercol__wrap>div>a.text-banner,
div.block-adcntxt,
div.torg_mail_ru__200x300,
div.header__branding,
div.footer__branding,
div.b-slot_banner,
div#portal__banner,
div.b-datalist__head__item_rb,
div.b-rb.direct.direct_top,
td.direct-spc+td.direct,
li.menu__item_rb,
div.informers.noindex,
aside.sidebar-right.noindex,
div.pc-bracing-cols,
div.mailru-visibility-check,
div.incut_inserted_yes,
div.b-worm,
div.mixednews__aside,
div.adWordsTop,
div#adfox-billboard
{display:none !important}
div[class^='doc-banner-']
{display:block !important}
div.adn
{display:block !important}
[id^='adv-']
{display:block !important}
div.adv
{display:block !important}
div#teaser-replies,
div.watch-branded-banner,
div.player-branded-banner
{display:block !important}
div#content
{background-color:transparent !important}
div#SwfStore_jr_0,
div#content>div:not(#contentinner)
{display:none !important}
div[id^='ad-']
{display:block !important}
table.alt1 td.alt1[align="center"],
table.alt1 td.alt2[align="center"]
{display:none !important}
div#head_banner_container
{display:block !important}
div.ad
{display:block !important}
img[src*='/banner/']
{display:block !important}
body{padding-top:0px !important;
background:none !important;}
div.top-an,
div.mainlist-inline-an
{display:none !important}
div#yandex_ad_1
{display:block !important}
img[width='240'][height='400']
{display:block !important}
div#banner_wrapper,
div#banner_highlight
{display:block !important}
div.adsk-textimage
{display:block !important}
div[id^='adsk-'],
div[class^='adsk-']
{display:block !important}
div[class^='advert']
{display:block !important}
div.forcefullwidth_wrapper_tp_banner
{display:block !important}